<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction to Vuejs</title>
</head>
<body>
    <div id="root">
        <!-- Vmodel Example -->
        <h4>This is example of <code>v-model</code> directives</h4>
       <input type='text' id='input' v-model="message" />
       <p>The value of the input is {{ message }}</p>

       <!-- Vfor & Vtext directives -->
       <!-- v-on on submit button -->
       <h4>This is example of <code>v-for and v-text</code> directives</h4>
       <ul>
           <li v-for="name in names" v-text="name"></li>
           <input type=text v-model="newName"/>
           <button type="submit" @click="addName">add name</button>
       </ul>

       <h4>This is example of <code> v:bind and attribute and class binding </code> directive</h4>
       <button type="submit" :title="title" >Bind me</button>

       <h4>This is example of <code>computed properties</code> used to filter incomplete task</h4>
       <h3>All Task</h3>
       <ul>
           <li v-for="(task, index) in tasks" :key="index">{{ task.description }}</li>
       </ul>
       <h3>All Incomplete Task</h3>
       <ul>
           <li v-for="(task, index) in incompleteTask" :key="index">{{ task.description }}</li>
       </ul>

    </div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: '#root',
        data : {
        message : 'Hello World',
        newName : '',
        names : ['sanusi', 'bashir', 'fatima', 'aisha', 'Tahir'  ],
        title : 'Now the title is being handle fro javascript',
        tasks: [
            { description: 'Go to the store', completed : true},
            { description: 'finish screencast', completed : true},
            { description: 'make donation', completed : false},
            { description: 'check inbox', completed : true},
            { description: 'eat dinner', completed : false},
            { description: 'write code', completed : true},
            { description: 'pray', completed : false},
            { description: 'sleep after', completed : true}
        ]
        },
        methods : {
            addName(){
                this.names.push(this.newName);
                this.newName = '';
            }
        },

        computed: {
            incompleteTask(){
               return this.tasks.filter(task => !task.completed)
            }
        },
    })

</script>
</body>
</html>